body {
    font-family: 'Arial', sans-serif;
    background-color: yellowgreen;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #aa0e18;
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: violet;
    box-shadow: 0 2px 4px yellow;
    border-radius: 8px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e1ec04;
    border-radius: 4px;
}

input:focus, textarea:focus {
    border-color: #495057;
    outline: none;
}

button {
    background-color: #007bff;
    color: #0f1210;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cf1277;
}
